.icon-btn {
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.view-icon,
.transaction-icon,
.consolidate-icon {
  font-size: 1rem;
  line-height: 1;
}
